<!DOCTYPE html>
<html>
<head>
    <title>Dodaj posao</title>
</head>
<body>

<h1>Dodaj posao</h1>

<form method="POST">

    <label>Adresa:</label><br>
    <input type="text" name="adresa"><br><br>

    <label>Datum:</label><br>
    <input type="date" name="datum"><br><br>

    <label>Vrijeme:</label><br>
    <input type="time" name="vrijeme"><br><br>

    <label>Klima:</label><br>
    <input type="text" name="klima"><br><br>

    <label>Radnik:</label><br>
    <input type="text" name="radnik"><br><br>

    <label>Cijena:</label><br>
    <input type="number" step="0.01" name="cijena"><br><br>

    <button type="submit">Dodaj posao</button>

</form>

</body>
</html>